{% extends "base.html" %}

{% block head %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="/static/index.js"></script>
{% endblock %}

{% block title %}Syllics - 在线在线生成ical日历文件{% endblock %}

{% block nav %}

{% endblock %}

{% block content %}
	<h1>
	<a href="/ical">Syllics</a>
	</h1>
	<div class="show">
		<center>
			<img class="pic" src="/static/1.png" />
			<img class="pic" src="/static/2.png" />
		</center>
		<div class=box>
			<a href="login">立即生成</a>
		</box>
	</div>
{% endblock %}